<app-titulo 
    [titulo]="'Perfil'" 
    [btnListar]="false" 
    [iconClass]="'fa-solid fa-user'">
</app-titulo>
<div class="card rounded shadow-sm">
    <form [formGroup]="perfilForm">
        <div class="row p-3">
            <div class="col-lg-3 pt-1">
                <div class="card mb-3">
                    <div class="card-header"></div>
                    <div class="d-flex align-self-center pt-3">
                        <a>
                            <img
                            src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
                            name="aboutme" width="120" height="120" class="rounded-circle">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="h4 text-center mb-3">@UserName</div>
                        <div class="h7 text-bold pb-1"><b>Nome:</b> Miracles Lee Cross</div>
                        <div class="h7">
                            Developer of web applications, JavaScript, PHP, Java, C#, Python, Ruby, Java, Node.js,
                            etc.
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-6 text-center border-right">
                                    <div class="h5">1342</div>
                                    <div class="h6 text-muted">Eventos Ministrados</div>
                                </div>
                                <div class="col-6 text-center">
                                    <div class="h5">1342</div>
                                    <div class="h6 text-muted">Eventos Participados</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="card-footer"></div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="form-group col-12">
                        <h4 class="border-bottom">Detalhe Perfil</h4>
                    </div>
                    <div class="form-group col-3">
                        <label>Título</label>
                        <select class="form-control" formControlName="title" [ngClass]="{'is-invalid': displayMessage.title }">
                            <option value=""></option>
                            <option value="0">Não Quero</option>
                            <option value="Senhorita">Tecnólogo(a)</option>
                            <option value="Senhorita">Bacharel</option>
                            <option value="Senhorita">Especialista</option>
                            <option value="Senhorita">Pós Graduado(a)</option>
                            <option value="Senhorita">Mestre</option>
                            <option value="Senhorita">Doutor(a)</option>
                            <option value="Senhorita">Pós Doc</option>
                        </select>
                        <div *ngIf="displayMessage.title" class="invalid-feedback">
                            <span [innerHTML]="displayMessage.title"></span>
                        </div>
                    </div>
                    <div class="form-group col">
                        <label>Primeiro Nome</label>
                        <input type="text" class="form-control" formControlName="firstName" [ngClass]="{'is-invalid': displayMessage.firstName }"/>
                        <div *ngIf="displayMessage.firstName" class="invalid-feedback">
                            <span [innerHTML]="displayMessage.firstName"></span>
                        </div>
                        
                    </div>
                    <div class="form-group col">
                        <label>Último nome</label>
                        <input type="text" class="form-control" formControlName="lastName" [ngClass]="{'is-invalid': displayMessage.lastName }"/>
                        <div *ngIf="displayMessage.lastName" class="invalid-feedback">
                            <span [innerHTML]="displayMessage.lastName"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-5">
                        <label>E-mail</label>
                        <input type="text" class="form-control" formControlName="email" [ngClass]="{'is-invalid': displayMessage.email }"/>
                        <div *ngIf="displayMessage.email" class="invalid-feedback">
                            <span [innerHTML]="displayMessage.email"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>Telefone</label>
                        <input type="text" class="form-control" formControlName="telephone" [ngClass]="{'is-invalid': displayMessage.telephone }"/>
                        <div *ngIf="displayMessage.telephone" class="invalid-feedback">
                            <span [innerHTML]="displayMessage.telephone"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm">
                        <label>Função</label>
                        <select class="form-control" formControlName="funcOptions" [ngClass]="{'is-invalid': displayMessage.funcOptions }">
                            <option value=""></option>
                            <option value="Participante">Participante</option>
                            <option value="Palestrante">Palestrante</option>
                        </select>
                        <div *ngIf="displayMessage.funcOptions" class="invalid-feedback">
                            <span [innerHTML]="displayMessage.funcOptions"></span>
                        </div>
                    </div>
                    <form-group class="col-12">
                        <label>Descrição</label>
                        <input type="text" class="form-control" formControlName="description" [ngClass]="{'is-invalid': displayMessage.description }"/>
                        <div *ngIf="displayMessage.description" class="invalid-feedback">
                            <span [innerHTML]="displayMessage.description"></span>
                        </div>
                    </form-group>
                </div>
                <div>
                    <h4 class="pt-3 border-bottom">Mudar Senha</h4>
                    <p>Caso mude de senha, preencha os campos abaixo:</p>
                </div>
                <div class="row">
                    <div class="form-group col-sm">
                        <label>Senha</label>
                        <input type="password" class="form-control" formControlName="password" [ngClass]="{'is-invalid': displayMessage.password }"/>
                        <div *ngIf="displayMessage.password" class="invalid-feedback">
                            <span [innerHTML]="displayMessage.password"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm">
                        <label>Confirmar Senha</label>
                        <input type="password" class="form-control" formControlName="confirmPassword" [ngClass]="{'is-invalid': displayMessage.confirmPassword }"/>
                        <div *ngIf="displayMessage.confirmPassword" class="invalid-feedback">
                            <span [innerHTML]="displayMessage.confirmPassword"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between">
                <button class="btn btn-outline-danger mr-auto border" (click)="resetForm()">
                    Cancelar Alteração
                </button>
                <button class="btn btn-success" [disabled]="!perfilForm.valid">
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                    Salvar Perfil
                </button>
            </div>
        </div>
    </form>
</div>
