<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm" *ngIf="(accountService.currentUser$ | async) !== null">
  <div class="container">
    <a class="navbar-brand" [routerLink]="'dashboard'"></a>
    <button (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" [collapse]="isCollapsed" [isAnimated]="true">
      <ul class="navbar-nav me-auto" >
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" aria-current="page" [routerLink]="'eventos/lista'">Eventos</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" [routerLink]="'palestrantes'">Palestrantes</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" [routerLink]="'contato'">Contato</a>
        </li>
      </ul>

      <ul  class="navbar-nav" *ngIf="(accountService.currentUser$ | async) !== null">
        <li class="nav-item dropdown" dropdown *ngIf="(accountService.currentUser$ | async) as user">
          <a dropdownToggle class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" style="cursor: pointer;"
            aria-haspopup="true" aria-expanded="false">
            {{user.primeiroNome | titlecase}}
            <!-- usuario -->
          </a>
          <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
            <a class="dropdown-item" style="cursor: pointer;" [routerLink]="'user/perfil'">
               <i class="fa-solid fa-user"></i>  Perfil
            </a>
            <div role="separator" class="divider"></div>
            <a class="dropdown-item" style="cursor: pointer;" (click)="logout()">
              <i class="fa-solid fa-arrow-right-from-bracket"></i>  Sair
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

