<div class="card rounded shadow-sm">
    <form [formGroup]="eventoForm">
        <div class="p-3">
            <div class="row">
                <div class="form-group col-md-12">
                    <label>Tema</label>
                    <input type="text" class="form-control" formControlName="tema" placeholder="Insira o Tema" [ngClass]="{'is-invalid': displayMessage.tema }"> 
                    <div *ngIf="displayMessage.tema" class="invalid-feedback">
                        <span [innerHTML]="displayMessage.tema"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-8">
                    <label>Local</label>
                    <input type="text" class="form-control" formControlName="local" placeholder="Insira o Local" [ngClass]="{'is-invalid': displayMessage.local }"> 
                    <div *ngIf="displayMessage.local" class="invalid-feedback">
                        <span [innerHTML]="displayMessage.local"></span>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label>Data e Hora</label>
                    <input  type="text" 
                            class="form-control" 
                            formControlName="dataEvento" 
                            placeholder="Insira uma data é hora" 
                            bsDatepicker 
                            [bsConfig]="{
                                adaptivePosition: true, 
                                dateInputFormat: 'DD/MM/YYYY hh:mm a',
                                containerClass: 'theme-default',
                                showWeekNumbers: false
                            }"
                            [ngClass]="{'is-invalid': displayMessage.dataEvento }"> 
                    <div *ngIf="displayMessage.dataEvento" class="invalid-feedback">
                        <span [innerHTML]="displayMessage.dataEvento"></span>
                    </div>  
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-2">
                    <label>Qtd Pessoas</label>
                    <input type="number" class="form-control" formControlName="qtdPessoa" placeholder="Quantidade de Pessoa" [ngClass]="{'is-invalid': displayMessage.qtdPessoa }"> 
                    <div *ngIf="displayMessage.qtdPessoa" class="invalid-feedback">
                        <span [innerHTML]="displayMessage.qtdPessoa"></span>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <label>Telefone</label>
                    <input type="text" class="form-control" formControlName="telefone" placeholder="(000) 90000-0000" [ngClass]="{'is-invalid': displayMessage.telefone }"> 
                    <div *ngIf="displayMessage.telefone" class="invalid-feedback">
                        <span [innerHTML]="displayMessage.telefone"></span>
                    </div> 
                </div>
                <div class="form-group col-md-4">
                    <label>E-mail</label>
                    <input type="text" class="form-control is-invalid" formControlName="email" placeholder="e-mail" [ngClass]="{'is-invalid': displayMessage.email }"> 
                    <div *ngIf="displayMessage.email" class="invalid-feedback">
                        <span [innerHTML]="displayMessage.email"></span>
                    </div> 
                </div>
                <div class="form-group col-md-4">
                    <label>Imagem</label>
                    <input type="text" class="form-control is-invalid" formControlName="imageUrl" placeholder="imagem" [ngClass]="{'is-invalid': displayMessage.imageUrl }"> 
                    <div *ngIf="displayMessage.imageUrl" class="invalid-feedback">
                        <span [innerHTML]="displayMessage.imageUrl"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between">
                <button class="btn btn-outline-danger mr-auto border" (click)="resetForm()">
                    Cancelar Alteração
                </button>
                <button class="btn btn-success" [disabled]="!eventoForm.valid" (click)="salvar_e_Alterar()">
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                    Salvar Evento
                </button>
            </div>
        </div>
    </form>
</div>
